<ul id="menu">
  <li>Credit goes to https://github.com/alvarotrigo/angular-fullpage</li>
  <li><a [class.activemenu]="activemenu == 0" (click)="fullpage_api.moveTo('firstPage', 1)">Section 1</a></li>
  <li><a (click)="fullpage_api.moveTo('secondPage', 2)">Section 2</a></li>
  <li><a (click)="fullpage_api.moveTo('thirdPage', 3)">Section 3</a></li>
</ul>

<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
  <div class="section">Some section1</div>
  <div class="section">Some section2</div>
  <div class="section">Some section3</div>
</div>

<style>
.activemenu {
  color: red;
}
</style>
